@model SisDP.MVC.ViewModel.ServidorViewModel
@using SisDP.MVC.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Servidores</h2>

<hr class="division" />

<div id="main_servidor" class="container">
    <div class="row">
        <div id="div_sltfilters_servidor" class="col-md-2 col-sm-12 col-xs-12">
            <div class="form-group">
                <select id="sltUf_servidor" class="form-control">
                    <option>UF</option>
                    @foreach (var item in @SisDP.MVC.ViewModel.FiltrosViewModel.Ufs)
                    {
                        <option class="target" value="@item.SkUF">@Html.DisplayFor(ufitem => item.UF) </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select id="sltCidade_servidor" class="form-control">
                    <option>Cidade</option>
                </select>
            </div>
            <div class="form-group">
                <select id="sltUnidade_servidor" class="form-control">
                    <option>Unidade</option>
                </select>
            </div>
            <div class="form-group">
                <button id="btn_search_servidor" class="btn btn-warning">
                    <span class="glyphicon glyphicon-search"></span> Buscar
                </button>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div id="gp_servidor_saude" class="col-md-12"></div>
            </div>
        </div>
        <div id="coluna_graph_servidor" style="width:90%">
            <div class="row">
            </div>
        </div>
    </div>
    <hr />
    <div id="graph_servidor_2" class="col-md-12 col-sm-12">
        <div class="row">
            <div id="gp_servidor_educacao" class="col-md-4"></div>
            <div id="gp_servidor_seguranca" class="col-md-4"></div>
            <div id="gp_servidor_adm" class="col-md-4"></div>
        </div>
    </div>
    <hr />
</div>

@section Scripts {

    <script type="text/javascript">
            (function(){
                "use strict";

                var cidades = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(FiltrosViewModel.Cidades));
                var unidades = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(FiltrosViewModel.Unidades));

                var selectUf = document.getElementById('sltUf_servidor');
                var selectCidade = document.getElementById('sltCidade_servidor');
                var selectUnidade = document.getElementById('sltUnidade_servidor');

                //Filtro de Cidades por UF
                selectUf.addEventListener('change', function(event){
                    var cidadesUF = cidades.filter(function(cidade){
                        return cidade.SkUF == event.target.options[event.target.selectedIndex].value;
                    });

                    selectCidade.length = 1;
                    selectUnidade.length = 1;

                    var dummy = document.createDocumentFragment(),
                        option;

                    cidadesUF.forEach(function(cidade){
                        option = document.createElement('option');
                        option.value = cidade.SkCidade;
                        option.innerText = cidade.Cidade;
                        dummy.appendChild(option);
                    });

                    selectCidade.appendChild(dummy);
                });

                //Filtro de Unidades por Cidade
                selectCidade.addEventListener('change', function(event){
                    var unidadesCidade = unidades.filter(function(unidade){
                        return unidade.SkCidade == event.target.options[event.target.selectedIndex].value;
                    });

                    selectUnidade.length = 1;

                    var dummy = document.createDocumentFragment(),
                        option;

                    unidadesCidade.forEach(function(unidade){
                        option = document.createElement('option');
                        option.value = unidade.SkUnidade;
                        option.innerText = unidade.NomeUnidade;
                        dummy.appendChild(option);
                    });

                    selectUnidade.appendChild(dummy);
                });

            })();

    </script>
}
